---
title: Community Resources for Kitchen-Terraform
---

<div class="container" style="padding-top: 0px;">
  <div class="row">
    <div class="col-12">
      <div class="jumbotron">
        <h1 class="display-3">
          Community
        </h1>
        <p class="lead">
          Contribute, report bugs and submit new features at our <a href="https://github.com/newcontext-oss/kitchen-terraform/blob/master/CONTRIBUTING.md" style="color: #32c850;">Github Page</a>
        </p>
        <p class="lead">
          Check out kitchen-terraform on <a href="https://travis-ci.org/newcontext-oss/kitchen-terraform" style="color: #32c850;">Travis CI</a>
        </p>
        <p class="lead">
          Find kitchen-terraform on <a href="https://rubygems.org/gems/kitchen-terraform" style="color: #32c850;">rubygems.org</a>
        </p>
        <hr>
        <p class="lead">
          Anything else? Feel free to email us directly: <a href="mailto:kitchen-terraform@newcontext.com" style="color: #32c850;">kitchen-terraform@newcontext.com</a>
        </p>
      </div>
    </div>
  </div>
</div>
