**/.bundle/
**/.idea/
**/.kitchen.local.yml
**/.kitchen/
**/.terraform/
**/inspec.lock
*.gem
.DS_Store/
.cache/
.sass-cache/
.yardoc/
Gemfile.lock
bin/
build/
certs/gem-private_key.pem
coverage/
doc/
examples/*/Gemfile.lock
examples/openstack_provider/.kitchen/
examples/openstack_provider/.terraform/
examples/openstack_provider/my-variables.tfvars
tmp/
