**/.bundle/
**/.idea/
**/.kitchen.local.yml
**/.kitchen/
**/.terraform/
**/inspec.lock
*.gem
.DS_Store/
.cache/
.sass-cache/
.yardoc/
Gemfile.lock
bin/
build/
certs/gem-private_key.pem
coverage/
doc/
examples/*/Gemfile.lock
examples/*/test/assets
tmp/
vendor/
