.cache/
.DS_Store/
.ruby-version
.sass-cache/
.solargraph.yml
.vscode/
.yardoc/
*.gem
*.tfstate.backup
**/.idea/
**/.kitchen.local.yml
**/.kitchen/
**/.terraform/
**/inspec.lock
**/terraform.tfstate
build/
certs/gem-private_key.pem
coverage/
doc/
examples/*/Gemfile.lock
examples/*/test/assets
gems.locked
rubygems/credentials
terraform_*/
terraform.tfstate.d/
test/terraform/Plug Ins/Plug In Directory/
tmp/
vendor/
test/reports/
