dist: trusty
sudo: false
language: ruby
cache:
  directories:
    - vendor/bundle
    - vendor/cache
before_install:
  - gem update --system
  - gem --version
  - gem install bundler
  - gem update bundler
install:
  - bin/bundle install --binstubs --jobs=$(nproc --ignore=1) --path=vendor/bundle --retry=3
before_cache: bin/bundle clean
jobs:
  include:
    - stage: integration tests on windows
      os: windows
      language: shell
      before_install:
        - gem update --no-document --system
        - gem --version
        - bundle --version
        - curl --version
        - sha256sum --version
        - unzip -v
      install:
        - bin/bundle install --binstubs --jobs=$(nproc --ignore=1) --path=vendor/bundle
          --retry=3 --without=development
        - curl --remote-name https://releases.hashicorp.com/terraform/0.11.8/terraform_0.11.8_SHA256SUMS
        - curl --remote-name https://releases.hashicorp.com/terraform/0.11.8/terraform_0.11.8_windows_amd64.zip
        - sha256sum --check --ignore-missing terraform_0.11.8_SHA256SUMS
        - unzip terraform_0.11.8_windows_amd64.zip -d $HOME/bin
        - chmod +x $HOME/bin/terraform.exe
      script:
        - cd integration/basic
        - '../../bin/kitchen test --destroy=always --log-level=debug |
          grep "Test Summary: 1 successful, 0 failures, 0 skipped.*1 example, 0 failures.*3 examples, 0 failures"'
    - stage: unit tests and code coverage with newest supported version of ruby
      rvm: 2.5
      env:
        - CC_TEST_REPORTER_ID=7574433e1beed630cb9a171c688bb9e010d5028f00f7218d6e845fe138c65168
      before_script:
        - curl --location https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64
          > ./cc-test-reporter
        - chmod +x ./cc-test-reporter
        - './cc-test-reporter before-build'
      script: bin/rake tests:unit
      after_script: './cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT'
    - stage: unit tests with legacy supported versions of ruby
      rvm: 2.4
      script: bin/rake tests:unit
    - rvm: 2.3
      script: bin/rake tests:unit
    - stage: integration tests with newest supported version of terraform
      sudo: required
      services:
        - docker
      rvm: 2.5
      install:
        - bin/bundle install --binstubs --jobs=$(nproc --ignore=1) --path=vendor/bundle
          --retry=3 --without=development
      script: bin/rake tests:integration
    - sudo: required
      services:
        - docker
      rvm: 2.4
      install:
        - bin/bundle install --binstubs --jobs=$(nproc --ignore=1) --path=vendor/bundle
          --retry=3 --without=development
      script: bin/rake tests:integration
    - sudo: required
      services:
        - docker
      rvm: 2.3
      install:
        - bin/bundle install --binstubs --jobs=$(nproc --ignore=1) --path=vendor/bundle
          --retry=3 --without=development
      script: bin/rake tests:integration
    - stage: integration tests with legacy supported versions of terraform
      sudo: required
      services:
        - docker
      rvm: 2.5
      env:
        - TERRAFORM_VERSION=0.11.4 TERRAFORM_SHA256_SUM=817be651ca41b999c09250a9fcade541a941afab41c0c663bd25529a4d5cfd31
      install:
        - bin/bundle install --binstubs --jobs=$(nproc --ignore=1) --path=vendor/bundle
          --retry=3 --without=development
      script: bin/rake tests:integration[$TERRAFORM_VERSION,$TERRAFORM_SHA256_SUM]
    - sudo: required
      services:
        - docker
      rvm: 2.4
      env:
        - TERRAFORM_VERSION=0.11.4 TERRAFORM_SHA256_SUM=817be651ca41b999c09250a9fcade541a941afab41c0c663bd25529a4d5cfd31
      install:
        - bin/bundle install --binstubs --jobs=$(nproc --ignore=1) --path=vendor/bundle
          --retry=3 --without=development
      script: bin/rake tests:integration[$TERRAFORM_VERSION,$TERRAFORM_SHA256_SUM]
    - sudo: required
      services:
        - docker
      rvm: 2.3
      env:
        - TERRAFORM_VERSION=0.11.4 TERRAFORM_SHA256_SUM=817be651ca41b999c09250a9fcade541a941afab41c0c663bd25529a4d5cfd31
      install:
        - bin/bundle install --binstubs --jobs=$(nproc --ignore=1) --path=vendor/bundle
          --retry=3 --without=development
      script: bin/rake tests:integration[$TERRAFORM_VERSION,$TERRAFORM_SHA256_SUM]
    - stage: deploy to rubygems.org
      rvm: 2.5
      before_install:
        - gem update --system
        - gem --version
      install: skip
      script: skip
      before_cache: skip
      before_deploy:
        - openssl aes-256-cbc -K $encrypted_8619fb193385_key -iv $encrypted_8619fb193385_iv -in
          certs/gem-private_key.pem.enc -out certs/gem-private_key.pem -d
        - gem cert --add certs/gem-public_cert.pem
      deploy:
        provider: rubygems
        api_key:
          secure: 'ja3412pmLoTwj/oyEacaMxfQbCc3YWHvHst7X01HNyTlhL1aVp8zAjmbS9C/QtGc6PF0SZCk6ZxsQW0Ux0VCMBszGRu8CpyUYdUm94N66KDtMJtmlNpiXwgCFhUVe87tsV13FrwXlpzXXOoa+T6xNhkbSaiELUJLnFDxSCPTrWSxabVHdbocs4tIperMVrKedlW2+MdNXqm4K8zEDkR67czxaEs8pndV9V7Dpr4RgMjipxrFbARefNWm+FPHVlkt25Z90m66muxvscH1w1zqlneiNRAoudFIev7dtO1OxZ6OwO7v27kFG9LSctn4hPbSyASOdRewqUQ446nJwXrm0W52vIpItC1Dx2l5oQ+Dc4SsCA4D6BaA2o+SWIMDkZE7rg/oRIfiOveuQ9cDk2sSr4cM+E0sPZt1XaaKjwmG7PsLvLa6hzwmvITRNpDf8a4eglfuipa9yHahqzfwt2M6o9GV8sNXzHuw6bsDjE5/EPZqDnVmlbdJfoR3YEcc8Wt/k8J9rPDsNu8YjBKf7LU932evaJjASvv7nD++d8Kj/2ENeq6xOVWwt1tYSESSj33lfY+oyGSZ8KsVjOLyCXjN6pMUIFm4r9eRLcA4RmdU7b5b9zvrYUfNle85tMSyCSDpGP8RlgP6sxctKOUUp7w1VkagLY1ZJd9or60u4KSPQWE='
        gem: kitchen-terraform
        on:
          repo: newcontext-oss/kitchen-terraform
          branch: master
          tags: true
        skip_cleanup: true
notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/3a11f6fb1385c5cdb12b
