before_cache:
  - bundle clean
git:
  depth: 1
notifications:
  webhooks:
    - https://webhooks.gitter.im/e/3a11f6fb1385c5cdb12b
jobs:
  include:
    - stage: Tests
      name: Unit Tests with Ruby 2.4 on Ubuntu
      dist: xenial
      language: ruby
      rvm: 2.4.5
      before_install:
        - gem install bundler --conservative --minimal-deps --no-document --version="~>
          2.0"
        - bundle config --local gemfile ruby-2.4/gems.rb
        - bundle config --local deployment true
        - bundle config --local jobs $(nproc --ignore=1)
      install:
        - bundle install --clean --frozen
      script:
        - ./ruby-2.4/bin/rake
      cache:
        directories:
          - ruby-2.4/vendor/bundle
    - name: Unit Tests with Ruby 2.5 and Code Climate on Ubuntu
      dist: xenial
      language: ruby
      rvm: 2.5.3
      env:
        - CC_TEST_REPORTER_ID=7574433e1beed630cb9a171c688bb9e010d5028f00f7218d6e845fe138c65168
      before_install:
        - gem install bundler --conservative --minimal-deps --no-document --version="~>
          2.0"
        - bundle config --local gemfile ruby-2.5/gems.rb
        - bundle config --local deployment true
        - bundle config --local jobs $(nproc --ignore=1)
      install:
        - bundle install --clean --frozen
      before_script:
        - curl --location --silent https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64
          > ./cc-test-reporter
        - chmod +x ./cc-test-reporter
        - "./cc-test-reporter before-build"
      script:
        - ./ruby-2.5/bin/rake
      after_script: "./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT"
      cache:
        directories:
          - ruby-2.5/vendor/bundle
    - name: Unit Tests with Ruby 2.6 on Ubuntu
      dist: xenial
      language: ruby
      rvm: 2.6.3
      before_install:
        - gem install bundler --conservative --minimal-deps --no-document --version="~>
          2.0"
        - bundle config --local gemfile ruby-2.6/gems.rb
        - bundle config --local deployment true
        - bundle config --local jobs $(nproc --ignore=1)
      install:
        - bundle install --clean --frozen
      script:
        - ./ruby-2.6/bin/rake
      cache:
        directories:
          - ruby-2.6/vendor/bundle
    - name: Unit Tests with Ruby 2.7 on Ubuntu
      dist: xenial
      language: ruby
      rvm: 2.7.1
      before_install:
        - gem install bundler --conservative --minimal-deps --no-document --version="~>
          2.0"
        - bundle config --local gemfile ./gems.rb
        - bundle config --local deployment true
        - bundle config --local jobs $(nproc --ignore=1)
      install:
        - bundle install --clean --frozen
      script:
        - ./bin/rake
      cache:
        directories:
          - ./vendor/bundle
    - name: Integration Tests with Terraform 0.12.0 and Terragrunt 0.18.6 and InSpec 3 on MacOS
      os: osx
      osx_image: xcode10.2
      language: ruby
      rvm: 2.7.1
      before_install:
        - gem install bundler --conservative --minimal-deps --no-document --version="~>
          2.0"
        - bundle config --local gemfile ./gems.rb
        - bundle config --local deployment true
        - bundle config --local jobs $(expr $(sysctl -n hw.ncpu) - 1)
        - bundle config --local without development
      install:
        - bundle install --clean --frozen
        - curl --remote-name --silent https://releases.hashicorp.com/terraform/0.12.0/terraform_0.12.0_darwin_amd64.zip
        - shasum -a 256 terraform_0.12.0_darwin_amd64.zip | grep 9dbee9dea660ea64352f8ddf2539e60d1c414210e9c4a29c8585926fef366be1
        - unzip terraform_0.12.0_darwin_amd64.zip -d "$HOME"/bin
        - curl --location --remote-name --silent https://github.com/gruntwork-io/terragrunt/releases/download/v0.18.6/terragrunt_darwin_amd64
        - shasum -a 256 terragrunt_darwin_amd64 | grep 234327294a07c312e7bc279ea749a653218c37d2d0b51c5cf2076fcf82dc298a
        - chmod +x terragrunt_darwin_amd64
        - curl --remote-name --silent https://releases.hashicorp.com/terraform-provider-local/1.2.2/terraform-provider-local_1.2.2_darwin_amd64.zip
        - shasum -a 256 terraform-provider-local_1.2.2_darwin_amd64.zip | grep 2464abf56aabecca26177f3562a4bd771cd79a79a94c78474f39691f9d4abea7
        - unzip terraform-provider-local_1.2.2_darwin_amd64.zip -d test/terraform/Plug\
          Ins/Plug\ In\ Directory
      script:
        - ./bin/rake test:kitchen:attributes-osx
        - ./bin/rake test:kitchen:plug-ins-osx
        - ./bin/rake test:kitchen:variables-osx
        - ./bin/rake test:kitchen:workspaces-osx
      cache:
        directories:
          - ./vendor/bundle
    - name: Integration Tests with Terraform 0.13.0 and Terragrunt 0.18.6 and InSpec 3 on MacOS
      os: osx
      osx_image: xcode10.2
      language: ruby
      rvm: 2.7.1
      before_install:
        - gem install bundler --conservative --minimal-deps --no-document --version="~>
          2.0"
        - bundle config --local gemfile ./gems.rb
        - bundle config --local deployment true
        - bundle config --local jobs $(expr $(sysctl -n hw.ncpu) - 1)
        - bundle config --local without development
      install:
        - bundle install --clean --frozen
        - curl --remote-name --silent https://releases.hashicorp.com/terraform/0.13.0/terraform_0.13.0_darwin_amd64.zip
        - shasum -a 256 terraform_0.13.0_darwin_amd64.zip | grep 080af0420732cd08941aa4c0d2b4693056b24366724faa11b107bf052f7de203
        - unzip terraform_0.13.0_darwin_amd64.zip -d "$HOME"/bin
        - curl --location --remote-name --silent https://github.com/gruntwork-io/terragrunt/releases/download/v0.18.6/terragrunt_darwin_amd64
        - shasum -a 256 terragrunt_darwin_amd64 | grep 234327294a07c312e7bc279ea749a653218c37d2d0b51c5cf2076fcf82dc298a
        - chmod +x terragrunt_darwin_amd64
        - curl --remote-name --silent https://releases.hashicorp.com/terraform-provider-local/1.2.2/terraform-provider-local_1.2.2_darwin_amd64.zip
        - shasum -a 256 terraform-provider-local_1.2.2_darwin_amd64.zip | grep 2464abf56aabecca26177f3562a4bd771cd79a79a94c78474f39691f9d4abea7
        - unzip terraform-provider-local_1.2.2_darwin_amd64.zip -d test/terraform/Plug\
          Ins/Plug\ In\ Directory
      script:
        - ./bin/rake test:kitchen:attributes-osx
        - ./bin/rake test:kitchen:plug-ins-osx
        - ./bin/rake test:kitchen:variables-osx
        - ./bin/rake test:kitchen:workspaces-osx
      cache:
        directories:
          - ./vendor/bundle