dist: trusty
sudo: false
language: ruby
cache:
  directories:
    - vendor/bundle
    - vendor/cache

env:
  global:
    -
      secure: qq/9kGdMj8cDjH0cNxw9azwse/8oBduDxubAw1I22mUn8qqgQT1svndISfhfv9J8VPycLUaDdbHdUHD8l4tBlfZchAZvRSRIGJkMFSlt4wcEg0af9pqD502TUyLdYIyR+QGN0UAW7DznmcsjSn/3Ka2QB/aXjoBZKJYUXcGLYWIdDzsQQysI0bULHL5ztsL41DflXKj0MD+IKm3FhGpVfR931a3nG2A67pIPBTjtvUCAxcGDYB5VTPpTru9Z5CHM7zadSFD8uArV0s3OyAOuwM5bvVdtU6AlWR/PjoUjv6QZywJ+eMYowfpvmUeMehq5wpqtf0doTFMOvbveXVQ/2euwGxxuo5Q0awbzUtCBjV1ysqgy0SBfAfdOzNE8XaU2qiBFaDGITgEFU2TyEiLcxoEFjVRvHVLn0uijDoMZ8Go615tdiYZ/G9L5ltemov5D4W1Klhux49yEiYFD914XerX5y6d8oU6KsdJhun1WKETM7uweZz30MFZ9ixIUbeDbzvWwplIskR7PJWpCmfm59CQiOlZlHsvpDYygzQTGgY8yM9VgHH7LLDctAPpFi0A3uif6cC2KcTeJIuh+g7QRk7un5ycp86T9PnB+n4Yt6ahqHJMnztU3NyCAnY3elxCw5PkgL4a/7UwVIFYRgIkaEJl4JVqb4WhTNf9s7Vm52ek=

before_install:
  - gem update --system
  - gem --version
  - gem update bundler

install:
  -
    bin/bundle
      install
      --binstubs
      --jobs=$(nproc --ignore=1)
      --path=vendor/bundle
      --retry=3

before_cache: bin/bundle clean

jobs:
  include:
    -
      stage: unit tests and code coverage with newest supported version of ruby
      rvm: 2.5
      script: bin/rake test:unit
      after_success: bin/codeclimate-test-reporter

    -
      stage: unit tests with legacy supported versions of ruby
      rvm: 2.4
      script: bin/rake test:unit

    -
      rvm: 2.3
      script: bin/rake test:unit

    -
      rvm: 2.2
      script: bin/rake test:unit

    -
      stage: integration tests with newest supported version of terraform
      sudo: required

      services:
        - docker

      rvm: 2.5

      env:
        - TERRAFORM_VERSION=0.11.1 TERRAFORM_SHA256_SUM=4e3d5e4c6a267e31e9f95d4c1b00f5a7be5a319698f0370825b459cb786e2f35

      install:
        -
          bin/bundle
            install
            --binstubs
            --jobs=$(nproc --ignore=1)
            --path=vendor/bundle
            --retry=3
            --without=development

      script: bin/rake test:integration[$TERRAFORM_VERSION,$TERRAFORM_SHA256_SUM]

    -
      sudo: required

      services:
        - docker

      rvm: 2.4

      env:
        - TERRAFORM_VERSION=0.11.1 TERRAFORM_SHA256_SUM=4e3d5e4c6a267e31e9f95d4c1b00f5a7be5a319698f0370825b459cb786e2f35

      install:
        -
          bin/bundle
            install
            --binstubs
            --jobs=$(nproc --ignore=1)
            --path=vendor/bundle
            --retry=3
            --without=development

      script: bin/rake test:integration[$TERRAFORM_VERSION,$TERRAFORM_SHA256_SUM]

    -
      sudo: required

      services:
        - docker

      rvm: 2.3

      env:
        - TERRAFORM_VERSION=0.11.1 TERRAFORM_SHA256_SUM=4e3d5e4c6a267e31e9f95d4c1b00f5a7be5a319698f0370825b459cb786e2f35

      install:
        -
          bin/bundle
            install
            --binstubs
            --jobs=$(nproc --ignore=1)
            --path=vendor/bundle
            --retry=3
            --without=development

      script: bin/rake test:integration[$TERRAFORM_VERSION,$TERRAFORM_SHA256_SUM]

    -
      sudo: required

      services:
        - docker

      rvm: 2.2

      env:
        - TERRAFORM_VERSION=0.11.1 TERRAFORM_SHA256_SUM=4e3d5e4c6a267e31e9f95d4c1b00f5a7be5a319698f0370825b459cb786e2f35

      install:
        -
          bin/bundle
            install
            --binstubs
            --jobs=$(nproc --ignore=1)
            --path=vendor/bundle
            --retry=3
            --without=development

      script: bin/rake test:integration[$TERRAFORM_VERSION,$TERRAFORM_SHA256_SUM]

    -
      stage: integration tests with legacy supported versions of terraform
      sudo: required

      services:
        - docker

      rvm: 2.5

      env:
        - TERRAFORM_VERSION=0.10.8 TERRAFORM_SHA256_SUM=b786c0cf936e24145fad632efd0fe48c831558cc9e43c071fffd93f35e3150db

      install:
        -
          bin/bundle
            install
            --binstubs
            --jobs=$(nproc --ignore=1)
            --path=vendor/bundle
            --retry=3
            --without=development

      script: bin/rake test:integration[$TERRAFORM_VERSION,$TERRAFORM_SHA256_SUM]

    -
      sudo: required

      services:
        - docker

      rvm: 2.4

      env:
        - TERRAFORM_VERSION=0.10.8 TERRAFORM_SHA256_SUM=b786c0cf936e24145fad632efd0fe48c831558cc9e43c071fffd93f35e3150db

      install:
        -
          bin/bundle
            install
            --binstubs
            --jobs=$(nproc --ignore=1)
            --path=vendor/bundle
            --retry=3
            --without=development

      script: bin/rake test:integration[$TERRAFORM_VERSION,$TERRAFORM_SHA256_SUM]

    -
      sudo: required

      services:
        - docker

      rvm: 2.3

      env:
        - TERRAFORM_VERSION=0.10.8 TERRAFORM_SHA256_SUM=b786c0cf936e24145fad632efd0fe48c831558cc9e43c071fffd93f35e3150db

      install:
        -
          bin/bundle
            install
            --binstubs
            --jobs=$(nproc --ignore=1)
            --path=vendor/bundle
            --retry=3
            --without=development

      script: bin/rake test:integration[$TERRAFORM_VERSION,$TERRAFORM_SHA256_SUM]

    -
      sudo: required

      services:
        - docker

      rvm: 2.2

      env:
        - TERRAFORM_VERSION=0.10.8 TERRAFORM_SHA256_SUM=b786c0cf936e24145fad632efd0fe48c831558cc9e43c071fffd93f35e3150db

      install:
        -
          bin/bundle
            install
            --binstubs
            --jobs=$(nproc --ignore=1)
            --path=vendor/bundle
            --retry=3
            --without=development

      script: bin/rake test:integration[$TERRAFORM_VERSION,$TERRAFORM_SHA256_SUM]

    -
      stage: deploy to rubygems.org
      rvm: 2.5

      before_install:
        - gem update --system
        - gem --version

      install: skip
      script: skip
      before_cache: skip

      before_deploy:
        -
          openssl
            aes-256-cbc
            -K $encrypted_d73b39cf4bfa_key
            -iv $encrypted_d73b39cf4bfa_iv
            -in certs/gem-private_key.pem.enc
            -out certs/gem-private_key.pem
            -d

        - gem cert --add certs/gem-public_cert.pem

      deploy:
        provider: rubygems

        api_key:
          secure: Y52epwcQvGsZ4c7LbHBZCGbgUzh0ujUMp0rEWrwr0o+7Ty86PsGkdLgfRi5V2/BXjw5l8pU8QHCCPyLAcjOhDwLtr87dVfw0FOtY7q22eqNfMdfIqc0AfwdmgcrLF6fr7LZHS678YKMzXepoi6FSnIV0BfG7ZEV3/iM9CIl0YzU7l04MGB0QGinE5frAt2g/LPWwtdky1CHOqUc08/wSHjn0ytSUImV4dqV8iaQwtS6WorRgohrgikY1/Ae2rpssMPiRQxHCL8RT5RtVf0Ph7CmYER/DmaPUwzPoFTwD1+tCcXqZCMdeLnhc9hDT09+myvG6XYFI8NWvvhiBqIi+gihvqrKbOvPBIZUZuHjwCQAcXhf3C7VtPo6wkHVdUzCCUqpXIcvKgLDzrh5UcAgZf2H77+MgH9JP4kre3NxIWFiIZ/mhmu5yrCz753TzIUPRAxqIppVIP73fJ2nuUPuCv8+hGKrdVq4ekwHi7y0B4gYakw82+hBG/p1jG+KtyChrjXP/2xppRrCNkHfNuwo1NAOtmOpDVCofdjuWeR0/rhFDNY/zzdZdE19lzSqPGkSKGYnguA5FICjy1kxD5VMICj2S2zbK5cg+y2wn1/0JF31paSjX+y8t1vl7ziWMaO+zX62zED6hxWtOELt0W2mlQ6RJLpdUjb6h9cQzop0ubrY=

        gem: kitchen-terraform

        on:
          repo: newcontext-oss/kitchen-terraform
          branch: master
          tags: true

        skip_cleanup: true

notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/3a11f6fb1385c5cdb12b
