---
title: About Kitchen-Terraform
---

<div class="container" style="padding-top: 0px;">
  <div class="row">
    <div class="col-12">
      <div class="jumbotron">
        <h1 class="display-3">
          About Kitchen-Terraform
        </h1>
        <p class="lead">
          <a href="https://github.com/newcontext-oss/kitchen-terraform" style="color: #32c850;">Kitchen Terraform</a> brings the benefits of test-driven development to <a href="http://terraform.io" style="color: #32c850;">Terraform</a> projects.
        </p>
        <p class="lead">
          As use of Terraform continues to gain popularity in production environments, it is critical that this logic is thoroughly tested. Development cycle can now be driven by a suite of tests to verify new features and protect against regressions.
        </p>
        <hr>
        <p class="lead">
          Using Kitchen Terraform enables a test matrix that can vary in platforms, input variables and even fixture modules.
        </p>
        <p class="lead">
          Kitchen Terraform provides a consistent approach for testing Terraform projects locally and in continuous integration pipelines.
        </p>
      </div>
    </div>
  </div>
</div>
