---
title: Getting Started with Kitchen-Terraform
---

<div class="container" style="padding-top: 0px;">
  <div class="row">
    <div class="col-12">
      <div class="jumbotron">
        <h1 class="display-3">
          Getting Started
        </h1>
        <p class="lead">
          A quick guide to get started with Kitchen-Terraform.
          <br><br>
          Provides instructions to install dependencies, start a brand new Terraform <a href="https://www.terraform.io/docs/configuration/modules.html"  style="color: #32c850;">module</a> and write Inspec tests for the module.
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <div class="list-group" id="list-tab" role="tablist">
        <a class="list-group-item list-group-item-action active" id="list-one-list" data-toggle="list" href="#list-one" role="tab" aria-controls="one">
          1. Gather Dependencies
        </a>
        <a class="list-group-item list-group-item-action" id="list-two-list" data-toggle="list" href="#list-two" role="tab" aria-controls="two">
          2. Create Project
        </a>
        <a class="list-group-item list-group-item-action" id="list-three-list" data-toggle="list" href="#list-three" role="tab" aria-controls="three">
          3. Create/Run Terraform code
        </a>
        <a class="list-group-item list-group-item-action" id="list-four-list" data-toggle="list" href="#list-four" role="tab" aria-controls="four">
          4. Create/Run Inspec Tests
        </a>
      </div>
    </div>
    <div class="col-8">
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="list-one" role="tabpanel" aria-labelledby="list-one-list">
          Install Terraform: <a href="https://www.terraform.io/downloads.html" style="color: #32c850;">
            https://www.terraform.io/downloads.html
          </a>
          <br>
          Install Ruby: <a href="https://www.ruby-lang.org/en/documentation/installation/" style="color: #32c850;">
            https://www.ruby-lang.org/en/documentation/installation/
          </a>
          <br><br>
          Additional installation methods:
          <br><br>
          <div class="row">
            <div class="col-sm">
              Mac OS (homebrew):
              <% code("bash") do %>
brew install terraform
brew install ruby
              <% end %>
            </div>
            <div class="col-sm">
              Version managers:<br>
              <a href="https://github.com/kamatama41/tfenv" style="color: #32c850;">tfenv</a>
              <br>
              <a href="https://github.com/rbenv/rbenv" style="color: #32c850;">rbenv</a>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="list-two" role="tabpanel" aria-labelledby="list-two-list">
          Create module and folder structure by running these commands:
          <br><br>
          <% code("bash") do %>
mkdir -p my_terraform_module && cd my_terraform_module

mkdir -p test/integration/example/controls \
         test/fixtures/example/
         <% end %>
         Then install the necessary rubygems.
         <br><br>
         <% code("bash") do %>
(
cat << EOP
source "https://rubygems.org/" do
  gem "kitchen-terraform"
end
EOP
) > Gemfile

# Install kitchen-terraform and other rubygems
# If needed run `gem install bundler`
bundle install
          <% end %>
          Create this file <p class="font-weight-bold" style="color: #32c850; display: inline;">.kitchen.yml</p> which brings together the Terraform module code and Inspec controls.
          <br><br>
          <% code("yml") do %>
---
driver:
  name: terraform
  directory: test/fixtures/example
  parallelism: 4

provisioner:
  name: terraform

transport:
  name: ssh

verifier:
  name: terraform
  groups:
    - name: example
      controls:
        - example

platforms:
  - name: terraform

suites:
  - name: example
          <% end %>
        </div>
        <div class="tab-pane fade" id="list-three" role="tabpanel" aria-labelledby="list-three-list">
          Create this file <p class="font-weight-bold" style="color: #32c850; display: inline;">main.tf</p> and add the block of code into it.
          <br><br>
          <% code("ruby") do %>
resource "null_resource" "example" {
  provisioner "local-exec" {
    command = "echo 'this is my first test' > foobar"
  }
}
          <% end %>
          Create Terraform fixture code that calls the module's Terraform code to help simulate the module's code.
          <br><br>
          Create this file <p class="font-weight-bold" style="color: #32c850; display: inline;">test/fixtures/example/main.tf</p> and add the block of code into it.
          <br><br>
          <% code("ruby") do %>
module "example" {
  source = "../../.."
}
          <% end %>
          Run the Terraform module code with kitchen converge
          <br><br>
          <% code("ruby") do %>
bundle exec kitchen converge
          <% end %>
        </div>
        <div class="tab-pane fade" id="list-four" role="tabpanel" aria-labelledby="list-four-list">
          We've created the Terraform code, now it's time to create the Inspec control tests. Please see the <a href="https://www.inspec.io/docs/reference/profiles/" style="color: #32c850;">Inspec documentation</a> to learn more about profiles and controls.
          <br><br>
          Create a default profile file <p class="font-weight-bold" style="color: #32c850; display: inline;">test/integration/example/inspec.yml</p>
          <br><br>
          <% code("yml") do %>
---
name: default
          <% end %>
          Create Inspec control test file
          <br><br>
          Create this file <p class="font-weight-bold" style="color: #32c850; display: inline;">test/integration/example/controls/example.rb</p>
          <br><br>
          <% code("ruby") do %>
# frozen_string_literal: true

control "example" do
  describe file('.kitchen/kitchen-terraform/example-terraform/foobar') do
    it { should exist }
  end
end
          <% end %>
          Run Inspec control tests with kitchen verify
          <br><br>
          <% code("ruby") do %>
bundle exec kitchen verify
          <% end %>
          And that's it, you wrote your first kitchen-terraform test suite! Please take a peek at our <a href="http://www.rubydoc.info/gems/kitchen-terraform" style="color: #32c850;">docs</a> and <a href="/tutorials/index.html" style="color: #32c850;">tutorials</a> for additional information.
        </div>
      </div>
    </div>
  </div>
</div>
