---
title: Kitchen-Terraform
---

<div class="container-fluid" style="padding-top: 0px;">
  <div class="row">
    <div class="col-12">
      <div class="jumbotron">
        <h1 class="display-3">
          Kitchen-Terraform
        </h1>
        <p>
          <a href="https://rubygems.org/gems/kitchen-terraform">
            <img
              alt="Gem version"
              height="18"
              src="https://img.shields.io/gem/v/kitchen-terraform.svg"
            >
          </a>
          <a href="https://rubygems.org/gems/kitchen-terraform">
            <img
              alt="Gem downloads version"
              height="18"
              src="https://img.shields.io/gem/dtv/kitchen-terraform.svg"
            >
          </a>
          <a href="https://rubygems.org/gems/kitchen-terraform">
            <img
              alt="Gem downloads total"
              height="18"
              src="https://img.shields.io/gem/dt/kitchen-terraform.svg"
            >
          </a>
          <br><br>
          <a href="https://travis-ci.com/newcontext-oss/kitchen-terraform">
            <img
              alt="Build status"
              height="18"
              src="https://img.shields.io/travis/newcontext-oss/kitchen-terraform.svg"
            >
          </a>
          <a href="https://codeclimate.com/github/newcontext-oss/kitchen-terraform/test_coverage">
            <img
              alt="Test coverage"
              height="18"
              src="https://api.codeclimate.com/v1/badges/73d4a2280a30e680bac4/test_coverage"
            >
          </a>
          <a href="https://codeclimate.com/github/newcontext-oss/kitchen-terraform/maintainability">
            <img
              alt="Maintainability"
              height="18"
              src="https://api.codeclimate.com/v1/badges/73d4a2280a30e680bac4/maintainability"
            >
          </a>
          <a href="https://hakiri.io/github/newcontext-oss/kitchen-terraform/">
            <img
              alt="Dependencies"
              height="18"
              src="https://hakiri.io/github/newcontext-oss/kitchen-terraform/master.svg"
            >
          </a>
          <br><br>
          <a href="https://gitter.im/kitchen-terraform/Lobby">
            <img
              alt="Gitter chat"
              height="18"
              src="https://img.shields.io/gitter/room/kitchen-terraform/Lobby.svg"
            >
          </a>
        </p>
        <p class="lead">
          <a href="https://github.com/newcontext-oss/kitchen-terraform" style="color: #32c850;">Kitchen-Terraform</a>
          is open source set of <a href="https://kitchen.ci/" style="color: #32c850;">Kitchen</a> plugins for testing
          <a href="http://terraform.io" style="color: #32c850;">Terraform</a> modules. It brings the benefits of
          test-driven development to the <a href="http://terraform.io" style="color: #32c850;">Terraform</a>
          development cycle, enabling verification of new features and protection against regressions on both local
          workstations and in continuous integration environments.
        </p>
        <hr>
        <p class="lead">
          <%= link_to 'Getting Started', '/getting_started.html', :class => 'btn btn-primary btn-lg', :role => 'button' %>
          <%= link_to 'Tutorials', '/tutorials/index.html', :class => 'btn btn-primary btn-lg', :role => 'button' %>
          <%= link_to 'Documentation', '/documentation/index.html', :class => 'btn btn-primary btn-lg', :role => 'button' %>
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <% code("ruby") do %>
-----> Starting Kitchen (v1.16.0)
     Terraform v0.10.8

$$$$$$ Terraform version 0.10.8 is supported
-----> Verifying <example-server>...

....

Profile Summary: 1 successful control, 0 control failures, 0 controls skipped
Test Summary: 1 successful, 0 failures, 0 skipped
     Finished verifying <example-server> (0m0.53s).
-----> Kitchen is finished. (0m0.97s)
      <% end %>
    </div>
  </div>
</div>
