---
title: Kitchen-Terraform
---

<div class="container-fluid" style="padding-top: 0px;">
  <div class="row">
    <div class="col-12">
      <div class="jumbotron">
        <h1 class="display-3">
          Kitchen-Terraform
        </h1>
        <p class="lead">
          An open source set of <a href="http://kitchen.ci" style="color: #32c850;">Test Kitchen</a> plugins for testing <a href="http://terraform.io" style="color: #32c850;">Terraform</a> configuration.
        </p>
        <p>
          <a href="https://rubygems.org/gems/kitchen-terraform">
            <img
              alt="Gem version"
              height="18"
              src="https://img.shields.io/gem/v/kitchen-terraform.svg?style=plastic"
            >
          </a>
          <a href="https://rubygems.org/gems/kitchen-terraform">
            <img
              alt="Gem downloads version"
              height="18"
              src="https://img.shields.io/gem/dtv/kitchen-terraform.svg?style=plastic"
            >
          </a>
          <a href="https://rubygems.org/gems/kitchen-terraform">
            <img
              alt="Gem downloads total"
              height="18"
              src="https://img.shields.io/gem/dt/kitchen-terraform.svg?style=plastic"
            >
          </a>
          <br><br>
          <a href="https://travis-ci.org/newcontext-oss/kitchen-terraform">
            <img
              alt="Build status"
              height="18"
              src="https://img.shields.io/travis/newcontext-oss/kitchen-terraform.svg?style=plastic"
            >
          </a>
          <a href="https://codeclimate.com/github/newcontext-oss/kitchen-terraform/test_coverage">
            <img
              alt="Test coverage"
              height="18"
              src="https://img.shields.io/codeclimate/c/newcontext-oss/kitchen-terraform.svg?style=plastic"
            >
          </a>
          <a href="https://codeclimate.com/github/newcontext-oss/kitchen-terraform/maintainability">
            <img
              alt="Maintainability"
              height="18"
              src="https://img.shields.io/codeclimate/maintainability/newcontext-oss/kitchen-terraform.svg?style=plastic"
            >
          </a>
          <a href="https://beta.gemnasium.com/projects/github.com/newcontext-oss/kitchen-terraform">
            <img
              alt="Dependencies"
              height="18"
              src="https://img.shields.io/gemnasium/newcontext-oss/kitchen-terraform.svg?style=plastic"
            >
          </a>
          <br><br>
          <a href="https://gitter.im/kitchen-terraform/Lobby">
            <img
              alt="Gitter chat"
              height="18"
              src="https://img.shields.io/gitter/room/kitchen-terraform/Lobby.svg?style=plastic"
            >
          </a>
        </p>
        <p class="lead">
          <%= link_to 'Getting Started', '/getting_started.html', :class => 'btn btn-primary btn-lg', :role => 'button' %>
          <%= link_to 'Tutorials', '/tutorials/index.html', :class => 'btn btn-primary btn-lg', :role => 'button' %>
          <%= link_to 'About', '/about.html', :class => 'btn btn-primary btn-lg', :role => 'button' %>
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <% code("ruby") do %>
-----> Starting Kitchen (v1.16.0)
     Terraform v0.10.8

$$$$$$ Terraform version 0.10.8 is supported
-----> Verifying <example-server>...

....

Profile Summary: 1 successful control, 0 control failures, 0 controls skipped
Test Summary: 1 successful, 0 failures, 0 skipped
     Finished verifying <example-server> (0m0.53s).
-----> Kitchen is finished. (0m0.97s)
      <% end %>
    </div>
  </div>
</div>


</div>
